*__pycache__
*.pyc
.ipynb_checkpoints/
checkpoints/
.DS_Store
images_generated/
images_db/
temp_models/
*.pt
*.png
*.jpg
*.jpeg

cifar-10-batches-py/
experiments/
experiments2/
food-101/

knockoffnets/
old/

images_generated_food101/
images_generated_glide/
images_generated_stable/
generated_dataset/

utils_food.py
run_experiment.sh
*.ipynb
food-101.tar.gz
food101_classes.txt
cifar-10-python.tar.gz
OpenSans-Light.ttf
*14_active*

# Black-Box Ripper specifics
datasets/optimized_from_generator.py
datasets/random_from_generator.py
generators/
base_experiment.py
run_experiment.sh
torch_optimizer.py